<body>
    <div id="cookie-banner" class="cookie-banner">
        <p>
            We use cookies to improve your experience. By continuing, you agree to our 
            <a href="/cookie-preference">Cookie Policy</a>.
        </p>
        <button id="accept-cookies" class="cookie-btn">Accept</button>
    </div> 

    <script src="/scripts/cookies.js"></script>
</body> 