<div class="footer-separator"><!-- Line Separator -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <h2>Socials</h2>
                <div class="social-icons">
                  <a href="https://www.instagram.com/doughnut_delight_abj?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                    <img src="/images/instagram.png" alt="Instagram">
                  </a>
                  <a href="https://wa.me/c/2349033662076" target="_blank">
                    <img src="/images/whatsapp.png" alt="WhatsApp">
                  </a>
                  <a href="https://x.com/_hafserh" target="_blank">
                    <img src="/images/twitter.png" alt="Twitter">
                  </a>
                </div>
              </div>
  
              <div class="footer-center">
                  <h2>Location</h2>
                  <p class="location-details">
                    House no.6B, Kolawole.B. Crescent,<br>
                    Phase 2, Kado Estate, Abuja.<br>
                    Call: +234 9012654343
                  </p>
              </div>
  
              <div class="footer-right">
                  <a href="/privacy-policy">Privacy Policy</a>
                  <a href="/terms-of-use">Terms of Use</a>
                  <a href="/cookie-preference">Cookie Preference</a>
              </div>
        </div>

        <div class="footer-copyright">
          © 2025 Doughnut Delight Company. All rights reserved.
        </div>
    </footer>
</div>