<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" > 
    <link rel="stylesheet" href="/stylesheets/styles.css"> <!-- Link to my CSS file -->
    <link rel="icon" type="image/jpeg" href="/images/favicon.jpg"> <!-- Link to the JPG Favicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/> <!-- Link to use swiper -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Irish Grover">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Germania One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans Myanmar">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Itim">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Norican">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Garamond">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/> <!-- Leaflet CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> <!-- Leaflet JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/><!-- Leaflet Geocoder CSS -->
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script><!-- Leaflet Geocoder JS -->
    <title><%= title %></title>
</head>