<html lang="en">

<body>
               <!-- Header overlay, fixed on top -->
<header>
        <div class="wrapper">
            <!-- Logo on the left -->
            <div class="logo">
                    <a href="/">
                            <img src="/images/logo.png" alt="Doughnut Delight Logo">
        
                    </a>
            </div>
            <!-- Navigation links -->
            <div class="off-screen-menu">
                    <nav>
                            <ul>
                                    <li><a href="/">Home</a></li> 
                                    <li><a href="/menu">Menu</a></li>
                                    <li><a href="/custom-order">Custom Order</a></li>
                                    <li><a href="/reward">Rewards</a></li>  
                            </ul>
                    </nav>
            </div>
            
            <div class="auth-buttons" style="visibility: hidden;">
                    <button id="signup-btn">Sign Up</button>
                    <button id="login-btn">Log In</button>
            </div>
    
            <nav>
                    <div class="ham-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                    </div>
            </nav>
        </div>    
        
    </header>
    
    <script src="/scripts/hamburger.js"></script>
</body>
 
</html>

